<h3>{{article.title}}</h3>
<div class="f-container">
  <small *ngIf="article.author">Author: {{article.author}}</small>
  <small *ngIf="article.publishedAt">Published at: {{article.publishedAt |  date:'medium'}}</small>
</div>
<hr>

<div class="f-container">
  <p>{{(article.description?.length > this.MAX_SUMMARY_CHARS) ?
    (article.description | slice:0: this.MAX_SUMMARY_CHARS) + '...' : article.description}}</p>

  <p-button (click)="showModal = true;" type="button" label="Show More"
          class="p-button-text f-justify-right"></p-button>
</div>

<p-dialog [style]="{width: '50vw'}" [maximizable]="true" [header]="article.title" [(visible)]="showModal" [modal]="true">

  <ng-container *ngIf="article.urlToImage">
    <img class="img-30" src="{{article.urlToImage}}" alt="{{article.title}}">
  </ng-container>
  <p>{{article.description}} <a *ngIf="article.url" href="{{article.url}}" target='_blank'>Read More</a> </p>
</p-dialog>


