<h3>{{article.title}}</h3>
<div class="f-container">
  <small *ngIf="article.author">Author: {{article.author}}</small>
  <small *ngIf="article.publishedAt">Published at: {{article.publishedAt |  date:'medium'}}</small>
</div>
<hr>

<div class="f-container">
  <p>{{(article.description?.length > this.MAX_SUMMARY_CHARS) ?
    (article.description | slice:0: this.MAX_SUMMARY_CHARS) + '...' : article.description}}</p>

  <button pButton type="button" label="Read More" class="p-button-text f-justify-right"></button>
</div>
